security:
    password_hashers:
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\UserAuthenticator
            logout:
                path: app_logout

    access_control:
        # Público: criação de Tenant
        - { path: ^/tenant/new, roles: PUBLIC_ACCESS }

        # SUPER_ADMIN acessa a rota pura /tenant
        - { path: ^/tenant$, roles: ROLE_SUPER_ADMIN }

        # ADMIN acessa apenas /tenant/{id}
        - { path: ^/tenant/[0-9]+$, roles: ROLE_ADMIN }

        # Convite de usuários apenas para ADMIN
        - { path: ^/invite, roles: ROLE_ADMIN }

        # Público: login e confirmação
        - { path: ^/register/confirm, roles: PUBLIC_ACCESS }
        - { path: ^/login, roles: PUBLIC_ACCESS }

        # Qualquer usuário autenticado
        - { path: ^/, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            App\Entity\User:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
